version: "3.8"
services:

  laps:
#    image: local/vue-laps:latest
    image: ghcr.io/jmorille/vue-laps:${LAPS_VERSION}
    container_name: laps
    restart: always
    user: '33:33'
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - laps-config.env
      - laps-api.env
      - laps-keycloak.env
    environment:
      TZ: "Europe/Paris"
      APACHE_POWERSHELL_HOST: "powershell"
      APACHE_POWERSHELL_PORT: "8000"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "./logs/httpd-vuelaps:/var/log/httpd/vuelaps/"
      - "./resources/laps/server-password.json:/DATA/vuelaps/resources/laps/server-password.json"
    networks:
      - app-network

  powershell:
    build:
      dockerfile: ./powershell.Dockerfile
    container_name: powershell
#    ports:
#      - "8000:8000"
    env_file:
      - laps-api.env
    environment:
      TZ: "Europe/Paris"
    volumes:
      #      - "/etc/timezone:/etc/timezone:ro"
      # - "/etc/localtime:/etc/localtime:ro"
      - "./resources/cgi-bin/password.ps1:/usr/lib/cgi-bin/password.ps1"
    networks:
      - app-network


#  php-fpm:
#    image: php:fpm
#    container_name: php-fpm
#    volumes:
#      - "./public:/DATA/vuelaps/htdocs/ihm"
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge
