version: "3.8"
services:

  laps:
#    image: local/vue-laps:latest
    image: ghcr.io/jmorille/vue-laps:master
    container_name: laps
    restart: always
    user: '33:33'
    ports:
      - "80:80"
    environment:
      HTTPD_SERVER_NAME: "laps.localhost"
      HTTPD_SERVER_ALIAS: "127.0.0.1 localhost"
      KEYCLOAK_DOMAIN: "keycloak.home.loc:8443"
      KEYCLOAK_CLIENT_SECRET: "M1ogV3dCwDUKkqOKZBEVxEUuSlbX1wu5"
      APACHE_POWERSHELL_HOST: "powershell"
      APACHE_POWERSHELL_PORT: "8000"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "./logs/httpd-vuelaps:/var/log/httpd/vuelaps/"
      - "./resources/laps/server-password.json:/DATA/vuelaps/resources/laps/server-password.json"
    networks:
      - app-network

  powershell:
    build:
      dockerfile: ./powershell.Dockerfile
    container_name: powershell
#    ports:
#      - "8000:8000"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "./resources/cgi-bin/password.ps1:/cgi-bin/password.ps1"
#      - "./resources/cgi-bin/password.sh:/cgi-bin/password.sh"
    networks:
      - app-network


#  php-fpm:
#    image: php:fpm
#    container_name: php-fpm
#    volumes:
#      - "./public:/DATA/vuelaps/htdocs/ihm"
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge
